<div class="container">
  <hr>
  <h2 class="title">Marcas</h2>
  <hr>
  <a class="btn btn-outline-dark" routerLink="add-brand" routerLinkActive="active">Agregar</a>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <hr>
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brandList | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{brand.brandCode}}</td>
        <td>{{brand.brandName}}</td>
        <td>
          <div *ngIf="brand.brandState else inactiveBrand">
            Activo
          </div>
          <ng-template #inactiveBrand>
            Inactivo
          </ng-template>
        </td>
        <td>
          <a routerLink="update-brand" routerLinkActive="active" [state]="brand"
            class="btn btn-outline-dark mr-1 btn-sm">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container d-flex justify-content-center">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>
