<div class="container">
  <hr>
  <h2 class="title">Productos</h2>
  <hr>
  <a class="btn btn-outline-dark" routerLink="add-product" routerLinkActive="active">Agregar</a>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <table class="table table-hover table-responsive-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Categoría</th>
        <th scope="col">Subcategoría</th>
        <th scope="col">Estado</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{product.productCode}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productBrand.brandName}}</td>
        <td>{{product.productCategory.categoryName}}</td>
        <td>{{product.productSubcategory.subcategoryName}}</td>
        <td>
          <div *ngIf="product.productState else inactiveProduct">
            Activo
          </div>
          <ng-template #inactiveProduct>
            Inactivo
          </ng-template>
        </td>
        <td>
          <a routerLink="update-product" routerLinkActive="active" [state]="product"
            class="btn btn-outline-dark mr-1 btn-sm">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a routerLink="update-image" routerLinkActive="active" [state]="product"
            class="btn btn-outline-dark mr-1 btn-sm">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container d-flex justify-content-center">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>
