<div class="container ">
  <hr>
  <h2 class="title">Update Subcategory</h2>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <form [formGroup]="subcategoryUpdateForm" (ngSubmit)="onSubmit()">


    <div class="form-group row">
      <label for="subcategoryCode" class="col-sm-2 col-form-label">Code</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="subcategoryCode">
        <app-validation-messages [validation]="subcategoryUpdateForm.get('subcategoryCode')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="subcategoryName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" formControlName="subcategoryName">
        <app-validation-messages [validation]="subcategoryUpdateForm.get('subcategoryName')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="subcategoryDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" formControlName="subcategoryDescription">
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" formControlName="category">
        <option *ngFor="let category of categoryList" [ngValue]="category" [selected]="category.categoryId === subcategory.category.categoryId">{{category.categoryName}}</option>
      </select>
      <app-validation-messages [validation]="subcategoryUpdateForm.get('category')"></app-validation-messages>
    </div>
    <div class="form-group row" *ngIf="subcategory.subcategoryState else otherSubcategoryState">
      <label for="subcategoryState" class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" disabled value="ACTIVE">
      </div>
    </div>
    <ng-template #otherSubcategoryState>
      <div class="form-group row">
        <label for="subcategoryState" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" disabled value="INACTIVE">
        </div>
      </div>
    </ng-template>
    <button class="btn btn-outline-dark " type="submit" [disabled]="!subcategoryUpdateForm.valid">Update</button>
  </form>
  <hr>
</div>
