<div class="container ">
  <hr>
  <h2 class="title">Add Brand</h2>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <form [formGroup]="brandCreateForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="name">Code</div>
      <div class="value">
        <div class="input-group">
          <input class="input--style-5" type="text" formControlName="brandCode">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="name">Name</div>
      <div class="value">
        <div class="input-group">
          <input class="input--style-5" type="text" formControlName="brandName">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="name">Description</div>
      <div class="value">
        <div class="input-group">
          <input class="input--style-5" type="text" formControlName="brandDescription">
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark " type="submit">Add</button>
  </form>
  <hr>
</div>
