<footer class="page-footer font-small mdb-color pt-4 text-white container-fluid background footer-config">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Techommerce</h6>
        <p>
          <a class="text-white" href="#!">About Us</a>
        </p>
        <p>
          <a class="text-white" href="#!">Account profile</a>
        </p>
        <p>
          <a class="text-white" href="#!">FAQ</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a class="text-white" href="#!">Delivery Information</a>
        </p>
        <p>
          <a class="text-white" href="#!">Payment Method</a>
        </p>
        <p>
          <a class="text-white" href="#!">Privacy Policy</a>
        </p>
        <p>
          <a class="text-white" href="#!">Terms & Conditions</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Palermo, CABA</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@mail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 54 9 11 4056 8760</p>
      </div>
    </div>
  </div>
</footer>
