<footer class="page-footer font-small unique-color-dark background text-white py-4">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Techommerce</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum dolor sit amet,
          consectetur. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Palermo, CABA</p>
        <p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i> info@mail.com</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> + 54 9 11 4056 8760</p>
      </div>
    </div>
  </div>
</footer>
