<footer class="page-footer font-small mdb-color pt-4 text-white container-fluid background footer-config">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Techommerce</h6>
        <p>
          <a class="text-white" href="#!">Sobre nosotros</a>
        </p>
        <p>
          <a class="text-white" href="#!">Perfil de cuenta</a>
        </p>
        <p>
          <a class="text-white" href="#!">FAQ</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Enlaces utiles</h6>
        <p>
          <a class="text-white" href="#!">Metodos de pago</a>
        </p>
        <p>
          <a class="text-white" href="#!">Políticas de privacidad</a>
        </p>
        <p>
          <a class="text-white" href="#!">Terminos y condiciones</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Palermo, CABA</p>
        <p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i> info@mail.com</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> + 54 9 11 4056 8760</p>
      </div>
    </div>
  </div>
</footer>
