  <div class="row">
    <div class="col-4">
      <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        Brand
      </a>
      <div class="collapse" id="collapseExample">
        <div class="form-group form-check m-1" *ngFor="let brand of brandList">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <small class="form-check-label" for="exampleCheck1">{{brand.brandName}}</small>
        </div>
      </div>
    </div>
    <div class="col-4">
      <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapseExampleTwo"
        aria-expanded="false" aria-controls="collapseExampleTwo">
        Subcategory
      </a>
      <div class="collapse" id="collapseExampleTwo">
        <div class="form-group form-check m-1" *ngFor="let subcategory of subcategoryList">
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <small class="form-check-label" for="exampleCheck2">{{subcategory.subcategoryName}}</small>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input type="number" class="form-control mb-2" aria-describedby="emailHelp" placeholder="Min">
          <input type="number" class="form-control mt-2" aria-describedby="emailHelp" placeholder="Max">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="exampleInputEmail1">Rate</label>
          <input type="number" class="form-control mb-2" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="exampleInputEmail1">Votes</label>
          <input type="number" class="form-control mb-2" aria-describedby="emailHelp" placeholder="Quantity of votes">
        </div>
      </div>
    </div>
  </div>

