<div class="container">
  <div *ngIf="errorMessage" class="text-center">
    <hr>
    <label class="text-danger">{{errorMessage}}</label>
  </div>
  <!--<div class="row">
    <app-product-filter class="container-fluid"></app-product-filter>
  </div>
  <hr>-->
  <div class="row my-2">
    <div class="col-lg-8 mx-auto"
      *ngFor="let product of productListFiltered | paginate: { itemsPerPage: 5, currentPage: p }">
      <ul class="list-group shadow">
        <li class="list-group-item ">
          <div class="media align-items-lg-center flex-column flex-sm-row p-3">
            <div class="media-body order-2 order-sm-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{product.productName}}</h5>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2 mr-2">$ {{product.productPrice}}</h6>
                <h6 class="font-weight-bold m-2">Valoración: {{product.productRate}}/10</h6>
                <h6 class="font-weight-bold m-2">Cantidad de votos: {{product.productQuantityOfVotes}}</h6>
              </div>
              <a routerLink="product-details" routerLinkActive="active" [state]="product"
                class="btn btn-outline-dark mr-1 btn-sm mr-2">Details</a>
              <button (click)="onClick(product)" class="btn btn-outline-dark ml-2 btn-sm"
                *ngIf="securityService.keycloak.authenticated"><i class="fa fa-cart-plus"
                  aria-hidden="true"></i></button>
            </div>
              <img
                src="{{'data:' + product.productImage[0].imageType + ';base64,' + product.productImage[0].imageBytes}}"
                class="ml-lg-5 order-1 order-sm-2" style="max-height: 200px;">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
