<!--<form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <input type="number" value="{{cartDetail.quantity}}" class="form-control" formControlName="newQuantity">
    <app-validation-messages [validation]="cartForm.get('newQuantity')"></app-validation-messages>
    <button [disabled]="!cartForm.valid" class="btn btn-outline-dark btn-sm" type="submit"><i class="fa fa-cart-plus"
        aria-hidden="true"></i></button>
  </div>
</form>-->
<form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3 input-group-sm">
     <div class="input-group-prepend">
      <button [disabled]="!cartForm.valid" class="btn btn-outline-dark btn-sm" type="submit"><i class="fa fa-cart-plus"
        aria-hidden="true"></i></button>
    </div>
    <input type="number" value="{{cartDetail.quantity}}" class="form-control" formControlName="newQuantity">
  </div>
</form>
