<div class="container">
  <hr>
  <h2 class="title">Compras realizadas</h2>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <div class="table-responsive">
    <table class="table table-hover ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha de compra</th>
          <th scope="col">Comprador</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Visualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseOrder of purchaseOrders | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{purchaseOrder.purchaseDate}}</td>
          <td>{{purchaseOrder.userName}}</td>
          <td>{{purchaseOrder.quantity}}</td>
          <td>{{purchaseOrder.total | number:'1.2-2'}}</td>
          <td>
            <div *ngIf="purchaseOrder.status; else notPrepared" >
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <ng-template #notPrepared>
              <i class="fa fa-times" aria-hidden="true"></i>
            </ng-template>
          </td>
          <td>
            <a routerLink="order-details" routerLinkActive="active" [state]="purchaseOrder"
              class="btn btn-outline-dark mr-1 btn-sm">
              Detalles
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container d-flex justify-content-center">
      <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
</div>
