<div class="container-fluid background font-container">
  <nav class="navbar navbar-expand-lg navbar-dark default-color container">
    <a class="navbar-brand" href="#">Techcommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveNavbar"
      aria-controls="responsiveNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-weight-bolder" id="responsiveNavbar">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            Register
            <i class="fas fa-user-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            Login
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Profile
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="settingDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Setting
            <i class="fas fa-cog"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="settingDropdown">
            <a class="dropdown-item" href="#">Brand</a>
            <a class="dropdown-item" href="#">Category</a>
            <a class="dropdown-item" href="#">Product</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

