
<div class="container ">
  <hr>
  <h2 class="title">Actualizar producto</h2>
  <hr>
  <div *ngIf="errorMessage" class="text-center">
    <label class="text-danger">{{errorMessage}}</label>
    <hr>
  </div>
  <form [formGroup]="productUpdateForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group row">
        <label for="productCode" class="col-sm-2 col-form-label">Código</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="productCode">
          <app-validation-messages [validation]="productUpdateForm.get('productCode')"></app-validation-messages>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="productName" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" formControlName="productName">
        <app-validation-messages [validation]="productUpdateForm.get('productName')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" formControlName="productDescription">
        <app-validation-messages [validation]="productUpdateForm.get('productDescription')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Precio ($)</label>
      <div class="col-sm-10">
        <input type="number" step=".01" class="form-control" formControlName="productPrice" id="productPrice">
        <app-validation-messages [validation]="productUpdateForm.get('productPrice')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Actualizar stock</label>
      <div class="col-sm-10">
        <input type=" number" class="form-control" formControlName="productQuantity" id="productQuantity">
        <app-validation-messages [validation]="productUpdateForm.get('productQuantity')"></app-validation-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Activo</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="productState">
        </div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="inputGroupSelect01">Marca</label>
      <div class="col-sm-10">
        <select class="custom-select" id="inputGroupSelect01" formControlName="productBrand">
          <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.brandName}}</option>
        </select>
      </div>
      <app-validation-messages [validation]="productUpdateForm.get('productBrand')"></app-validation-messages>
    </div>
    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="inputGroupSelect02">Categoría</label>
      <div class="col-sm-10">
        <select class="custom-select" id="inputGroupSelect01" formControlName="productCategory"
          (change)="onSelect(+$event.target.selectedOptions[0].dataset.value)">
          <option *ngFor="let category of categoryList" [ngValue]="category">
            {{category.categoryName}}</option>
        </select>
      </div>
      <app-validation-messages [validation]="productUpdateForm.get('productCategory')"></app-validation-messages>
    </div>
    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="inputGroupSelect03">Subcategoría</label>
      <div class="col-sm-10">
        <select class="custom-select" id="inputGroupSelect01" formControlName="productSubcategory">
          <option *ngFor="let subcategory of subcategoryListFiltered" [ngValue]="subcategory">
            {{subcategory.subcategoryName}}</option>
        </select>
      </div>
      <app-validation-messages [validation]="productUpdateForm.get('productSubcategory')"></app-validation-messages>
    </div>
    <!--<div class="container">
      <app-image-card-list [product]="product"></app-image-card-list>
    </div>-->
    <button class="btn btn-outline-dark " type="submit" [disabled]="!productUpdateForm.valid">Actualizar</button>
    <button class="btn btn-outline-dark ml-2" type="button" (click)="getToProductTable()">Atrás</button>
  </form>
  <hr>
</div>
