<div class="container my-5">
  <div class="row my-5">
    <div class="col-sm-12 col-md-8">
      <img src="../../../../assets/home-image-2.jpg" alt="Technology-image" class="w-100">
    </div>
    <div class="col-sm-12 col-md-4 my-auto">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="d-flex justify-content-center">
          <a class="btn btn-outline-dark" routerLink="/shop/all-categories">Tienda</a>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-12 col-md-4 order-sm-2 order-md-1 my-auto justify-content-md-center">
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis quasi nulla
        beatae deserunt sed
        vel atque explicabo dolore illum!</p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-outline-dark " (click)="onLogin()">Registrarse</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 order-sm-1 order-md-2 m">
      <img src="../../../../assets/home-image.jpg" alt="Technology-image" class="w-100">
    </div>
  </div>
</div>
